* {
    box-sizing: border-box;
}

body {
    color: 1A1A1A;
    margin: 0;
}

p, 
h1,
h2,
h3,
ul, 
li {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    display: flex;
    height: 2em;
    align-items: center;
    margin: 0.7em;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header ul li {
    margin-right: 1em;
}


.image-section {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px; /*learn about this being dynamic, same as max-width;*/
}

.image-section h1 {
    display: flex;
    font-weight: lighter;
    font-size: 3em;
    max-width: 400px;
    margin-bottom: 0.5em;
}

.image-section p {
    display: flex;
    max-width: 400px;
    text-align: center;
}

/* Middle Section Styles */

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px
}

.middle-section > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle-section img {
    height: 4em;
}

.middle-section h2 {
    margin-bottom: 1em;
    padding-bottom: 2px;
    border-bottom: 2px solid #00B172;
    /* text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #00B172; */
}

.middle-section h3 {
    color: #00B172;
}

.middle-section > div > div {
    max-width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-section p {
    text-align: center;
}

/* Last Section Styles */

.last-section {
    background-color: #00B172;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 3em;
    background-image: url('../images/spotify-icon-white.png');
    background-position: center;
    background-size: 5em;
    background-repeat: no-repeat;
}

.last-section h2 {
    display: flex;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: 2px solid #FFF;
    font-size: 2em;
    margin-bottom: 2em;
}

.last-section h3 {
    margin-bottom: 1em;
    font-size: larger;
}

.last-section p {
    margin-bottom: 2em;
    font-size: larger;
}

.last-section > div > div {
    max-width: 20em;
}

.last-section img:last-child {
    max-height: 30em;
}


/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
